---

indexvalue: 1
pagination:
    data: pokemons
    size: 12
    alias: pokemons
    href: 
        next: "…"
        previous: "…"
        first: "…"
        last: "…"
    pageNumber: 0
hrefs: []
pages: [] 
page:
    next: "…" 
    previous: "…"
    first: "…"
    last: "…"

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{ settings.sitename }}</title>
</head>
<body>
    <section class= "pokemons-dex">
        <div class="wrapper">
            <h1 class ="heading">
            <a href="/" title="{{ settings.sitename }}">
                <img src="{{ settings.heading }}" alt="{{ settings.sitename }}">
            </a>
            </h1>
            <ul id="pokedex">
                {% for pokemon in pokemons %}
                <li class="index-card">
                <figure>
                <img class="card-image" src="{% if pokemon.image %}{{ pokemon.image }}{% else %}{{ settings.default.image }}{% endif %}" alt="{{ pokemon.name }}">
                </figure>
                <h2 class="card-title" data-id="{{ pokemon.id }}">
                    <a href="/pokemons/{{ pokemon.name }}" title="{{ pokemon.name }}">{{ pokemon.name }}</a>
                </h2>
                <p class="card-subtitle">Type: {{ pokemon.type }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <div class="pagination">
        <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}<a href="#FIXME" class="disabled">Previous</a>{% endif %}</li>
        {% for i in range( indexvalue , pagination.size) -%}
            <li><a href="/{{i}}" class="{% if pagination.pageNumber === i %}active{% endif %}">{{i}}</a></li>
        {%- endfor %}
        <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}<a href="#FIXME" class="disabled">Next</a>{% endif %}</li>
    </div>
</body>
</html>